<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  {% block head %}
  <title>Ygor Mattos</title>
  {% endblock %}
  <link rel="stylesheet" href="./styles.css">
</head>

<body>

  <header>
    <div class="links">
      <a href="/">Sobre</a>
      <a href="/portfolio">Portfolio</a>
    </div>
  </header>

  {% block content %}

  {% endblock %}

</body>

</html>