@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
  --primary-color: #7159c1;
  --secondary-color: #f7df1e
}

* {
  margin: 0;
  padding: 0;
  border: none;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  /* Ao utilizar um width de 100%, eu usar um padding
  ele não vai respeitar o box model do CSS e ira adicionar além.
  Para que seja respeitado esse limite é nessario a propriedade
  box-sizing: border-box */
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

/* pseudo-element precisa de um content */
.links a:hover::after {
  width: 100%;

  /* transition-property, transition-duration, transition-timing e transition-delay */
  transition: width 700ms cubic-bezier(0.67, 0.08, 0.32, 1.26);
}

/* -- CARD -- */

.card {
  background-color: white;
  width: 800px;
  min-height: 400px;

  margin: 45px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

  animation: up 500ms ease;
}

@keyframes up {
  from { /* 0% */
    opacity: 0;
    transform: translateY(15px);
  }
  to { /* 100% */
    opacity: 1;
  }
}


/* Details */

.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child { /* ultimo elemento */
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 1px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.details .item span {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

/* -- FORM -- */

input {
  width: 100%;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"] {
  padding: 8px 32px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  transition: filter 0.3s ease;
  cursor: pointer;
}

button[type="submit"]:hover {
  filter: brightness(0.8);
}